* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.imagePeeler {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.imagePeeler>img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.imagePeeler__mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
}

.imagePeeler__handler {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagePeeler__handler .imagePeeler__icon {
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #000;
}

.imagePeeler__handler .imagePeeler__icon img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}